# Python artifacts
__pycache__/
*.pyc
env/
venv/

# Environment Variables
.env
.env.*

# Logs & Data
*.log
logs/
*.db
*.sqlite
cache/

# IDE
.vscode/
.idea/

# Strategies and settings
strategies.yaml
settings.yaml