services:
  trading-bot:
    build:
      context: .
    container_name: algo_heart
    restart: always
    env_file: .env
    network_mode: "host" # Use host network to ensure it can see the internet like the host does
    volumes:
      - ./data:/app/data
    dns:
      - 8.8.8.8
      - 1.1.1.1

  dashboard:
    build:
      context: .
    container_name: algo_ui
    network_mode: "host"
    env_file: .env
    volumes:
      - ./data:/app/data
    command: streamlit run src/dashboard.py --server.port=8501 --server.address=0.0.0.0