version: '3.8'

services:
  trading-bot:
    build: .
    container_name: algo_heart
    restart: always
    env_file: .env
    volumes:
      - ./data:/app/data
    command: python src/main.py

  dashboard:
    build: .
    container_name: algo_ui
    ports:
      - "8501:8501"
    env_file: .env
    volumes:
      - ./data:/app/data
    command: streamlit run src/dashboard.py --server.port=8501 --server.address=0.0.0.0