services:
  trading-bot:
    image: algo-trader
    container_name: algo_heart
    volumes:
      - /home/opc/algo-deploy/data:/app/data
      - /home/opc/algo-deploy/src:/app/src
      - /home/opc/algo-deploy/config:/app/config
    network_mode: "host"
    env_file: .env

  dashboard:
    image: algo-trader
    container_name: algo_ui
    volumes:
      - /home/opc/algo-deploy/data:/app/data
      - /home/opc/algo-deploy/src:/app/src
    network_mode: "host"
    env_file: .env
    command: streamlit run src/dashboard.py --server.port=8501