services:
  trading-bot:
    image: algo-trader
    volumes:
      - ./data:/app/data
      - ./src:/app/src           # <--- Maps your logic folder
      - ./config:/app/config     # <--- Maps your strategy settings
    # ... rest of config ...

  dashboard:
    image: algo-trader
    volumes:
      - ./data:/app/data
      - ./src:/app/src           # <--- Maps your logic folder
    # ... rest of config ...