name: CI Checks

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          cache: 'pip' # Caches pip dependencies for faster re-runs
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Lint with Flake8
        run: |
          # Stop build if syntax errors or undefined names
          flake8 src --count --select=E9,F63,F7,F82 --show-source --statistics
      - name: Run Tests
        run: |
          pytest -q